.w3-container
  #contact.w3-center
    %p.w3-border-bottom.w3-border-light-grey.w3-padding-16
  .w3-card-2.w3-content{:style => "max-width:900px"}
    .w3-container.w3-black.w3-center
      %h3 Signup
    .w3-container
      = simple_form_for @user, :html => {:class => 'form-horizontal' } do |f|
        .w3-row.w3-section
          = f.text_field :first_name, class: "w3-input", required: true
          = f.label :first_name
        .w3-row.w3-section
          = f.text_field :last_name, class: "w3-input", required: true
          = f.label :last_name
        .w3-row.w3-section
          = f.text_field :username, class: "w3-input", required: true
          = f.label :username
        .w3-row.w3-section
          = f.text_field :email, class: "w3-input", required: true
          = f.label :email
          = f.submit 'Signup', class: "w3-button w3-block w3-section w3-light-gray w3-ripple w3-padding"
