<!DOCTYPE html>
<html>
  <head>
    <title>StoryLine</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="w3-bar w3-black w3-padding-16">
      <%= link_to 'Home', root_path, class: "w3-bar-item w3-button" %>
      <%= link_to 'Signup', new_users_path, class: "w3-bar-item w3-button w3-right" %>

      <a href="#" class="w3-bar-item w3-button">Link 2</a>
      <a href="#" class="w3-bar-item w3-button">Link 3</a>
    </div>
      <%= yield %>
  </body>
</html>
